
{% extends "base.html" %}
{% block title %}Home-Welcome{% endblock %}
{% block head %}
    {{ super() }}
    
{% endblock %}
{% block content %}
    
   <div class="fluid-container">
       <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-12">
            
            <img class="img-responsive img-resize"src="static/4.jpg" alt="image of a lady holding book" width="100%" height="100%">
        </div>

            <div class="col-lg-6 col-md-6 col-sm-12 right-side">

                <link href="https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald" rel="stylesheet">

                <h1>Welcome to Boreweb!</h1>

                <h1> Search for your favorite book!</h1>

                <h1> Review it! </h1>

                <h1> Share your reviews with friends and more! </h1>

                <h1> Signup Now! </h1>

                </div>
       </div>
   </div>
{% endblock %}